@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Heavy.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Ultralight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-UltralightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("../assets/252da4add0541016be857c22216bf2d4.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  display: none !important;
}

.main-frame {
  width: 380px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  max-height: 783.81px;
  height: 783.81px;
  flex-direction: column;
  border-radius: 6rem;
}

.welcome-area {
  background-image: url("../assets/girl.avif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  height: 391.89px;
  width: calc(100% - 20px);
  max-width: -webkit-fill-available;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(49, 47, 74);
  background: linear-gradient(
    0deg,
    rgba(49, 47, 74, 1) 0%,
    rgba(52, 97, 106, 0) 60%
  );
}

.information-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.row-1 {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 1rem;
  padding-top: 4rem;
  padding-right: 2rem;
  max-width: -webkit-fill-available;
}

.button-transparent {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 1000px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.1px);
  -webkit-backdrop-filter: blur(13.1px);
  border: 1px solid rgba(255, 255, 255, 0.397);
  width: fit-content;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  cursor: pointer;
}

.button-transparent:hover,
.button-transparent:focus,
.button-transparent:active {
  filter: brightness(105%);
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 1);
}

.button-transparent img {
  color: white;
  height: 1.5rem;
  width: 1.5rem;
}

.row-2 {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}

span.heading-text {
  font-weight: 600;
  font-size: 2rem;
  color: white;
}

.normal-text {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.521);
}

.row-2 .normal-text {
  margin-bottom: 1rem;
}

a.copy-ca {
  text-decoration: none;
  color: rgb(214, 200, 221);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid rgb(214, 200, 221);
  padding: 0.5rem 0.5rem;
  border-radius: 1000px;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 999;
}

a.copy-ca:hover,
a.copy-ca:focus,
a.copy-ca:active {
  border: 1px solid rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}

a.copy-ca div.circle {
  width: 38px;
  height: 38px;
  font-size: 0.65rem;
  border: 4px solid rgb(214, 200, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out;
}

a.copy-ca:hover > div.circle,
a.copy-ca:focus > div.circle,
a.copy-ca:active > div.circle {
  border-color: white;
  transition: all 0.3s ease-in-out;
}

.information-area {
  width: calc(100% - 20px);
  max-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  height: 391.89px;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.swipe-container {
  height: 10px;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.swipe-shape {
  width: 50px;
  background-color: rgb(221, 225, 228);
  border-radius: 100px;
  content: "";
  height: 6px;
}

.info-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.5rem;
  font-size: 1rem;
  width: -webkit-fill-available;
  padding-bottom: 0px;
  max-width: -webkit-fill-available;
}

.info-text:first-child {
  padding-bottom: 0rem;
}

.info-title {
  color: rgb(173, 176, 179);
  font-weight: 400;
  font-size: 0.8rem;
}

.info-desc {
  color: black;
  font-size: 0.8rem;
}

.info-desc.interest {
  border: 1px solid #adb0b3;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1000px;
  font-size: 0.8rem;
}

.interest-area {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.img-link img {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.img-link img:hover {
  box-shadow: 0px 10px 38px 1px rgba(56, 53, 53, 0.13);
  -webkit-box-shadow: 0px 10px 38px 1px rgba(56, 53, 53, 0.13);
  -moz-box-shadow: 0px 10px 38px 1px rgba(56, 53, 53, 0.13);
  transition: all 0.3s ease-in-out;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  background-color: rgb(240, 240, 241);
  border-radius: 100000px;
  width: fit-content;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  z-index: 999;
}

a.img-link {
  display: flex;
}

a.img-link img {
  width: 35px;
  height: 35px;
}

.iphone-frame {
  position: absolute;
  width: -webkit-fill-available;
}

.start {
  height: 100dvh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99999999;
}

.start .main-frame .ios-notch {
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  max-width: -webkit-fill-available;
}

a.start-button {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.ios-notch {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.ios-notch .time img {
  padding-left: 28px;
}

.ios-notch .battery img {
  padding-right: 28px;
}

.icon-start {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  z-index: 999;
}

.icon-start img {
  height: 15dvh;
  width: 15dvh;
}

.icon-start a {
  font-family: "SF Pro Text" !important;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.start-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: relative;
}

/* Untuk Desktop Lebar */
@media only screen and (min-width: 1981px) {
  .main-frame {
    transform: scale(1);
  }
}

/* Untuk Laptop */
@media only screen and (min-width: 1366px) and (max-width: 1980px) and (min-height: 300px) and (max-height: 730px) {
  .main-frame {
    transform: scale(0.8);
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1727px) and (min-height: 750px) (max-height: 1050px) {
  .main-frame {
    transform: scale(1);
  }
}

/* Untuk Notebook */
@media only screen and (min-width: 1025px) and (max-width: 1365px) {
  .main-frame {
    transform: scale(0.8);
  }
}

/* Untuk Tablet Pro */
@media only screen and (min-width: 961px) and (max-width: 1024px) {
  .main-frame {
    transform: scale(1);
  }
}

/* Untuk Tablet Mini */
@media only screen and (min-width: 641px) and (max-width: 960px) {
}

/* Untuk Tablet Normal */
@media only screen and (min-width: 481px) and (max-width: 640px) {
}

/* Untuk Phone Biasa */
@media only screen and (min-width: 380px) and (max-width: 480px) {
  .main-frame {
    transform: scale(0.75) !important;
  }

  .icon-start {
    transform: scale(1);
  }
}

/* Untuk Phone Kecil */
@media only screen and (max-width: 379px) {
  .main-frame {
    transform: scale(0.75) !important;
  }
}
